
@media screen and (min-width: 1000px) and (max-width: 1200px) {

    header {
        height: 100%;
    }

    .right-content {
        padding: 35px;
    }

    #detalhes-1 img {
        display: none; 
    }

}

@media screen and (min-width: 830px) and (max-width: 1000px) {

    header {
        height: 100%;
    }

    .section-1-content {
        margin-top: 30px;
    }

    #section-2 {
        margin-top: -20px;
    }

    .content-image {
        margin: 0px 10px;
    }

    .right-content {
        padding: 35px;
    }

    #detalhes-1 img {
        display: none;
    }

    #descricao-1 h3 {
        padding: 0;
    }

    #descricao-2 {
        padding: 0;
    }

}

@media screen and (max-width: 830px) {
    
    header {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 35px;
    }

    .header-left-side {
        width: 100%;
        margin-bottom: 20px;
    }

    .header-right-side {
        width: 100%;
    }

    #section-1 {
        height: 100%;
    }

    #section-1 h2 {
        padding: 1.7em;
    }

    .section-1-content {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;   
    }

    #section-2 {
        margin-top: 10px;
    }

    .section-2-address {
        flex-direction: column;
        order: 2;
        margin-bottom: 20px;
    }

    .texto-destaque  {
        text-align: center;
        padding: 0;
    }

    .texto-destaque h3 {
        margin-top: 20px;
    }

    .texto-destaque p {
        display: none;
    }

    .content-image {
        margin: 15px 0;
    }

    .detalhes {
        flex-direction: column;
        padding: 10px;
        margin-bottom: 35px;
    }

    #detalhes-1 img {
        display: none;
    }

    #descricao-1 h3 {
        padding: 0;
    }

    #descricao-2 {
        padding: 0;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    #descricao-3 {
        padding: 0;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .detalhes img {
        order: 1;
        width: 100%;
    }

    #section-inscreva-se {
        margin-top: -20px;
    }
}

@media screen and (max-width: 335px) {

    .left-content h1 {
        text-align: center;
    }

    .left-content p:nth-child(2) {
        text-align: center;
        font-size: 1.9em;
    }

    #descricao-1 h3 {
        font-size: 2.7em;
    }

    .texto-destaque h3 {
        font-size: 2.8em;
    }

    .centro button {
        font-size: 1em;
    }
}